{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="POST" class="card card-body mt-5">

                <h1 class="text-center">Signin</h1>
                {% if error %}
                <div class="alert alert-dark">
                    {{error}}
                </div>
                {% endif %}
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" placeholder="Write your username" required>
                </div>

                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Write your password"
                        required>
                </div>

                <button class="btn btn-primary">
                    Signin
                </button>

            </form>
        </div>
    </div>
</main>

{% endblock %}